*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}

.centrartext{    
text-align: center;
}

.quitHiper{
    text-decoration: none;
    color: white;
    font-weight: 1000;
}
 
.indice{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
nav{
    position: absolute;
    top: 15px;
    right: 3%;;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align: center;
}

.main{
    padding: 0px 11%;
    margin-top: 4%;
    overflow: hidden;
}

p{
    margin: 1% 0;
    text-align: justify;
    line-height: 20px;
}

a{
    text-decoration: none;
    color:#333333;
}

footer{
    background: #333333;
    width: 100%;
    height: 300px;
    color: white;
    margin-top: 30px;

}
/*Css CSS3*/
.Pendientes{
    color: red;
}

.contenido{
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 60px;
}

.content{
    width: 70%;
    height: 90%;;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.content1{
    float: left;
    width: 50%;
    height: 100%;
    margin-left: 40;
}


.conticon{
    
    width: 100px;
    height: 100px;
    background: #182B49;
    margin: auto;
    margin-bottom: 20px;
    color:white;
    text-align: center;
    border-radius: 50%;
    -moz-border-radius:50%;
    overflow: hidden;
}
.icono{
    padding-top:20px ;
}

.context{
    text-align: justify;
    color:#0f0f0f;
    width: 100%;
    height: 60%;
    margin: auto;
    padding: 0 5px;
}

.content:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform:scale(1.01);
    transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -webkit-transition:all 0.9s ease;
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow:2px 2px 15px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    overflow: inherit;
    border-radius: 10px;
}









/*Css temario css*/
.cajanimada{
    position: relative;
    width: 120px;
    height: 60px;
    background: #006A96;
    animation: mover 5s linear 0s infinite alternate;
}

@keyframes mover{
    0%{left: 0%;} 
    50%{left: 45%}
    100%{left: 90%;background: green;}
}

.lateral{
    margin-top:50px;
    width: 19%;
    height: 500px;
    float: left;
}

.lateral2{
    margin-top: 50px;
    float:left;
    width: 80%;
    height: auto;
    padding-left: 4%;
}

.lateral ul h2{
    text-align: center;
    background: #182B49;
    color:white;
    border-radius: 2px 2px 0px 0px;
    padding: 5px 0px;
}

.lateral ul li{
    position: relative;
    background: rgb(249,249,249);
    list-style: none;
    padding: 8px 5px;
}

.lateral ul li:hover{
    cursor: pointer;
    color: white;
    background-color:#006A96;
    box-shadow: #030303 0px 5px 1px 0px;
    -webkit-box-shadow: #030303  0px 0px 5px 1px;
    z-index: 1;
}
.static{
    border: 3px solid; 
    width: 70%;
    border-color: cadetblue;
    margin: auto;
}

.relative1{
    position: relative;
    border: 3px solid;
    width: 70%;
    border-color: cadetblue;
    margin: auto;
}

.relative2{
    position: relative;
    border: 3px solid;
    width: 70%;
    border-color: salmon;
    margin: auto;
    top:-15px;
    right: 20px;
}

.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid;
    border-color: #e5c32d;
    background-color: #f71b38; 
}

.relative3{
    position: relative;
    width: 70%;
    height: 300px;
    border: 3px solid;
    border-color: cadetblue;
    margin: auto;
    overflow: hidden;
}

.absolute{
    position: absolute;
    width: 30%;
    border: 3px solid;
    right: 0px;
    top:100px;;  
}

.imagen{
    width: 600px;
    margin: auto;
    height: 400px;
    background-color:blue;
        background-image: url(../Imagenes/imagenprueba.jpg);
    background-size:600px 400px; 
    background-blend-mode: luminosity;
    margin-bottom: 20px;
}

.code{
    background-color: #2b2b2b;
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    color:white;
    padding: 20px;
    border-radius: 5px;
    
}

.verde{
    color: lawngreen;
}

.blue{
    color: deepskyblue;
    padding-left: 30px;
}

.blue2{
    color: deepskyblue;
    
}
.morado{
    color:mediumpurple;
}

.amarillo{
    color:yellow;
}

.rojo{   
    color: red;
}

.naranja{
    color: orange;
}

.caja{
    margin: auto;
    width: 300px;
    height: 50px;
    background: #006A96;
    color: white;
    box-shadow: 1px 3px 5px 0px;
    border-radius: 10px;
    text-align: center;

}

.MedTransform{
    transform: translate(50px, 10px);
    -webkit-transform: translate(50px, 10px);
}
.MedRotate{
    transform: rotate(30deg);
    -webkit-rotate:(30deg);
}
.cajatext{
    margin:auto;
    width: 300px;
    height: 100px;
    background-color: #747678;
    line-height: 100px;
    text-align: center;
    transition: all 2s linear 0.5s;  
}

.cajatext2{
    margin:auto;
    width: 300px;
    height: 100px;
    background-color: #747678;
    line-height: 100px;
    text-align: center;
    transition: all 2s linear 0.5s;  
}

.cajatext2:hover{
    background-color: #006A96;
}

.metodotable {
    margin: auto;
    background-color: #747678;
	display: table;
	height:200px;
    
}

.tablecell {
	display: table-cell;
	vertical-align: middle;
    margin: auto;
    border: 1px solid;
}

.cajarelative{
    position: relative;
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: #747678;
}

.vinetas{
    line-height: 25px;
}

.colortext:target{
    background: #C69214;
}

/*Css Javascript*/
.Hfondo{
    position: fixed;
    top:0;
    background:rgba(230, 126, 34,0.85);
    width: 100%;
    height: 90px;
    padding:0px 50px;
    z-index: 200;
}

.Hcontenedor{
    display: flex; /*Es mas facil alinear el texto horizontalmente*/
    height: 100%;
    align-items: center; /*Con esto lo alineas*/

}
.logo{
    width: 70px;
    margin-left: 4%;
}

.Titulo{
    display: inline-block;
    font-size: 350%;
}

.banner{
    position: relative;
    top:0;
    width: 100%;

}

.bannerimg{
    width: 100%;
    height: 500px;
    display: block;

}

.banner:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,0.75);
}

.texbanner{
    position: absolute;
    color:white;
    z-index: 1;
}

.sangria{
    text-indent: 50px;
}
@media (max-width:600px){
    .cajatext{
        background-color: #C69214;
    }
}


/* Css JavasCript 2 

.Hfondo{
    border: 1px solid;
    position: relative;
    background-color: coral;
    width: 100%;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing:border-box; 
    -moz-box-sizing:border-box;
    overflow: hidden;
}

.Hcontenedor{
    position: absolute;
    border: 1px solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    position: absolute;
    width: 80px;
    height: 80px;
    top:50%;
    left: 8%;
    transform: translate(0, -50%);
}
*/
